<div class="login-container">
  <div class="login-box">

    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <div class="textbox">
        <input
          type="text"
          formControlName="username"
          name="username"
          required
          placeholder="Usuario"
        />
      </div>
      <div class="textbox">
        <input
          type="password"
          formControlName="password"
          name="password"
          required
          placeholder="Contraseña"
        />
      </div>
      <button type="submit" class="btn">Log In</button>
    </form>
    <div *ngIf="this.showMessage">
      <p class="error-message">
        {{ errorMessage }}
      </p>
    </div>
  </div>
</div>
