<form (ngSubmit)="onSubmit()" #DocumentForm="ngForm">
    <div style="max-height: 500px; max-width: 1300px;overflow-y: auto;">
        <table class="table table-bordered table-striped">
            <thead class="sticky-header">
                <tr>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input name="description" style="width: 100%;" type="text" min="1" value="1" [(ngModel)]="updDocument.description" required>
                    </td>
                    <td>
                        <input type="submit" class="btn btn-primary" value="Update" [disabled]="!DocumentForm.valid">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </form>

<div style="text-align: center;">
    <button (click)="closePopup()" class="btn btn-danger">Close</button>    
</div>


