<form (ngSubmit)="onSubmit()" #LocationForm="ngForm">
  <div style="max-height: 500px; max-width: 1300px; overflow-y: auto">
    <table class="table table-bordered table-striped">
      <thead class="sticky-header">
        <tr>
          <th>Address</th>
          <th>Postal Code</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input
              name="address"
              type="text"
              min="1"
              value="1"
              [(ngModel)]="updLocation.address"
              required
            />
          </td>
          <td>
            <input
              name="postalCode"
              type="number"
              min="1"
              value="1"
              [(ngModel)]="updLocation.postalCode"
              required
            />
          </td>
          <td>
            <input
              type="submit"
              class="btn btn-primary"
              value="Update"
              [disabled]="!LocationForm.valid"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>

<div style="text-align: center">
  <button (click)="closePopup()" class="btn btn-danger">Close</button>
</div>
