<form (ngSubmit)="onSubmit()" #RoleForm="ngForm">
    <div style="max-height: 500px; max-width: 1300px;overflow-y: auto;">
        <table class="table table-bordered table-striped">
            <thead class="sticky-header">
                <tr>
                    <th>ID</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input name="id" type="text" min="1" value="1" [(ngModel)]="updRole.id" required>
                    </td>
                    <td>
                        <input name="description" style="width: 100%;" type="text" min="1" value="1" [(ngModel)]="updRole.description" required>
                    </td>    
                    <td>
                        <input type="submit" class="btn btn-primary" value="Update" [disabled]="!RoleForm.valid">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </form>

<div style="text-align: center;">
    <button (click)="closePopup()" class="btn btn-danger">Close</button>    
</div>


