<div style="max-height: 500px; max-width: 1300px;overflow-y: auto;">
    <table class="table table-bordered table-striped">
        <thead class="sticky-header">
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of roles">
                <td>{{r.id}}</td>
                <td>{{r.description}}</td>
                <td>
                    <table>
                        <tr>
                            <td style="text-align: center;">
                                <img src="assets/images/trash-alt.svg" style="height: 30px; width:30px; max-height: 30px; max-width: 30pc;" (click)="deleteRole(r.id)" class="cursor-img" title="delete a document">
                            </td>
                            <td style="text-align: center;">
                                <img src="assets/images/update.svg" style="height: 30px; width:30px; max-height: 30px; max-width: 30pc;" (click)="updateRole(r)" class="cursor-img" title="update a document">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<form (ngSubmit)="onSubmit()" #RoleForm="ngForm">
<div style="max-height: 500px; max-width: 1300px;overflow-y: auto;">
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td>
                    <input name="roleId" type="number" min="1" value="1" [(ngModel)]="newRole.id" required>
                </td>
                <td>
                    <input name="roleDescription" type="text" min="1" value="1" [(ngModel)]="newRole.description" required>
                </td>
                <td>
                    <input type="submit" class="btn btn-primary" value="Add" [disabled]="!RoleForm.valid">
                </td>
            </tr>
        </tbody>
    </table>
</div>
</form>

<!-- Popup (conditionally visible when clicking on “update”) -->
<div *ngIf="isPopupOpen" class="popup-overlay">
    <div class="popup-content">
      <app-role-update [role]="selectedRole" (close)="closePopup()"></app-role-update>
    </div>
</div>