<form (ngSubmit)="onSubmit()" #LockerForm="ngForm">
    <div style="max-height: 500px; max-width: 1300px;overflow-y: auto;">
        <table class="table table-bordered table-striped">
            <thead class="sticky-header">
                <tr>
                    <th>Serial Number</th>
                    <th>Location</th>
                    <th>Price [ € ]</th>
                    <th>Rented</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input name="serialNumber" type="number" min="1" value="1" [(ngModel)]="updLocker.serialNumber" required>
                    </td>
                    <td>
                        <select name="idLocation" [(ngModel)]="updLocker.idLocation" required>
                            <option *ngFor="let l of locations" [value]="l.id">{{l.address}}</option>
                        </select>
                    </td>
                    <td>
                        <select name="idPrice" [(ngModel)]="updLocker.idPrice" required>
                            <option *ngFor="let p of prices" [value]="p.id">{{p.value}}</option>
                        </select>
                    </td>
                    <td>
                        <select name="rented"  [(ngModel)]="updLocker.rented" required>
                            <option value="false">NO</option>
                            <option value="true">SI</option>
                        </select>
                    </td>
                    <td>
                        <input type="submit" class="btn btn-primary" value="Update" [disabled]="!LockerForm.valid">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </form>

<div style="text-align: center;">
    <button (click)="closePopup()" class="btn btn-danger">Close</button>    
</div>


