<form (ngSubmit)="onSubmit()" #CustomerForm="ngForm">
    <div style="max-height: 500px; max-width: 1300px;overflow-y: auto;">
        <table class="table table-bordered table-striped">
            <thead class="sticky-header">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Document</th>
                    <th>Address</th>
                    <th>ID Document</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input name="id" type="text" min="1" value="1" [(ngModel)]="updCustomer.id" required>
                    </td>
                    <td>
                        <input name="name" style="width: 100%;" type="text" min="1" value="1" [(ngModel)]="updCustomer.name" required>
                    </td>
                    <td>
                        <input name="phone" style="width: 100%;" type="text" min="1" value="1" [(ngModel)]="updCustomer.phone" required>
                    </td>
                    <td>
                        <input name="document" style="width: 100%;" type="text" min="1" value="1" [(ngModel)]="updCustomer.document" required>
                    </td>
                    <td>
                        <input name="address" style="width: 100%;" type="text" min="1" value="1" [(ngModel)]="updCustomer.address" required>
                    </td>
                    <td>
                        <input name="idDocument" style="width: 100%;" type="text" min="1" value="1" [(ngModel)]="updCustomer.idDocument" required>
                    </td>
                    <td>
                        <input type="submit" class="btn btn-primary" value="Update" [disabled]="!CustomerForm.valid">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </form>

<div style="text-align: center;">
    <button (click)="closePopup()" class="btn btn-danger">Close</button>    
</div>


