<form (ngSubmit)="onSubmit()" #LocationForm="ngForm">
  <div
    style="
      max-height: 550px;
      max-width: 1300px;
      overflow-y: auto;
      position: relative;
    "
  >
    <table
      class="table table-bordered table-striped"
      style="table-layout: fixed; width: 100%"
    >
      <thead class="sticky-header">
        <tr>
          <th>Address</th>
          <th>Postal Code</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let l of locations">
          <td>{{ l.address }}</td>
          <td>{{ l.postalCode }}</td>
          <td>
            <table>
              <tr>
                <td style="text-align: center">
                  <img
                    src="assets/images/trash-alt.svg"
                    style="height: 30px; width: 30px; cursor: pointer"
                    (click)="deleteLocation(l.id)"
                    class="cursor-img"
                    title="delete a location"
                  />
                </td>
                <td style="text-align: center">
                  <img
                    src="assets/images/update.svg"
                    style="height: 30px; width: 30px; cursor: pointer"
                    (click)="updateLocation(l)"
                    class="cursor-img"
                    title="update a location"
                  />
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="table-footer-form">
      <table style="table-layout: fixed; width: 100%">
        <tr>
          <td style="width: 33%">
            <input
              name="locationAddress"
              type="text"
              [(ngModel)]="newLocation.address"
              required
            />
          </td>
          <td style="width: 33%">
            <input
              name="locationPostalCode"
              type="number"
              [(ngModel)]="newLocation.postalCode"
              required
            />
          </td>
          <td style="width: 34%; text-align: center">
            <input
              type="submit"
              class="btn btn-primary"
              value="Add"
              [disabled]="!LocationForm.valid"
              style="width: 50%"
            />
          </td>
        </tr>
      </table>
    </div>
  </div>
</form>

<div *ngIf="isPopupOpen" class="popup-overlay">
  <div class="popup-content">
    <app-location-update
      [location]="selectedLocation"
      (close)="closePopup()"
    ></app-location-update>
  </div>
</div>
