<div style="max-height: 500px; max-width: 1300px;overflow-y: auto;">
    <table class="table table-bordered table-striped">
        <thead class="sticky-header">
            <tr>
                <th>ID</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of prices">
                <td>{{p.id}}</td>
                <td>{{p.value}}</td>
                <td>
                    <table>
                        <tr>
                            <td style="text-align: center;">
                                <img src="assets/images/trash-alt.svg" style="height: 30px; width:30px; max-height: 30px; max-width: 30pc;" (click)="deletePrice(p.id)" class="cursor-img" title="delete a price">
                            </td>
                            <td style="text-align: center;">
                                <img src="assets/images/update.svg" style="height: 30px; width:30px; max-height: 30px; max-width: 30pc;" (click)="updatePrice(p)" class="cursor-img" title="update a price">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<form (ngSubmit)="onSubmit()" #PriceForm="ngForm">
<div style="max-height: 500px; max-width: 1300px;overflow-y: auto;">
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    <input name="locationPostalCode" type="number" min="1" value="1" [(ngModel)]="newPrice.value" required>
                </td>
                <td>
                    <input type="submit" class="btn btn-primary" value="Add" [disabled]="!PriceForm.valid">
                </td>
            </tr>
        </tbody>
    </table>
</div>
</form>

<!-- Popup (conditionally visible when clicking on “update”) -->
<div *ngIf="isPopupOpen" class="popup-overlay">
    <div class="popup-content">
      <app-price-update [price]="selectedPrice" (close)="closePopup()"></app-price-update>
    </div>
</div>