<div style="max-height: 500px; max-width: 1300px;overflow-y: auto;">
    <table class="table table-bordered table-striped">
        <thead class="sticky-header">
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of documents">
                <td>{{d.id}}</td>
                <td>{{d.description}}</td>
                <td>
                    <table>
                        <tr>
                            <td style="text-align: center;">
                                <img src="assets/images/trash-alt.svg" style="height: 30px; width:30px; max-height: 30px; max-width: 30pc;" (click)="deleteDocument(d.id)" class="cursor-img" title="delete a document">
                            </td>
                            <td style="text-align: center;">
                                <img src="assets/images/update.svg" style="height: 30px; width:30px; max-height: 30px; max-width: 30pc;" (click)="updateDocument(d)" class="cursor-img" title="update a document">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<form (ngSubmit)="onSubmit()" #PriceForm="ngForm">
<div style="max-height: 500px; max-width: 1300px;overflow-y: auto;">
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td>
                    <!-- <input name="focumentId" type="number" min="1" value="1" [(ngModel)]="newDocument.id" required> -->
                </td>
                <td>
                    <input name="documentDescription" type="text" min="1" value="1" [(ngModel)]="newDocument.description" required>
                </td>
                <td>
                    <input type="submit" class="btn btn-primary" value="Add" [disabled]="!PriceForm.valid">
                </td>
            </tr>
        </tbody>
    </table>
</div>
</form>

<!-- Popup (conditionally visible when clicking on “update”) -->
<div *ngIf="isPopupOpen" class="popup-overlay">
    <div class="popup-content">
      <app-document-update [document]="selectedDocument" (close)="closePopup()"></app-document-update>
    </div>
</div>